.container_input_post {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
}
.container_input_post h3 {
  margin-bottom: 12px;
}
.container_input_post > div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: "670px") {
  .image_user img {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
  }
}
@media (min-width: "1250px") {
  .image_user {
    width: 40px;
    height: 40px;
  }
  .image_user img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
}
.container_input {
  width: 100%;
  background-color: #f2f3f4;
  transition: 0.25s;
  border-radius: 20px;
  cursor: pointer;
}
.container_input div {
  display: flex;
  align-items: center;
}
.container_input:hover {
  background-color: #ebebeb;
}
.container_input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px;
  color: black;
}
.container_input .icon_send_comment {
  padding: 12px;
  color: #9a9a9a;
}
.action_comment {
  padding: 12px;
  .icon_action {
    font-size: 14px;
    color: #9a9a9a;
  }
}
.comment {
  width: 100% !important;
  background-color: transparent !important;
  padding: 0;
  .container_input_post {
    background-color: transparent;
    padding: 0;
  }
  .container_input {
    background-color: #f2f3f4;
  }
}
.comment.fixed {
  width: 100%;
  //   position: fixed;
  //   //   position: -webkit-sticky;
  //   bottom: 0;

  left: 0;
  padding: 12px;
  box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
