.container_change {
  width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_change > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: none;
  justify-content: space-between;
}
.title h2 {
  width: fit-content;
}
.title .icon {
  cursor: pointer;
}
.container_change > div input {
  padding: 6px 12px;
  outline: none;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  transition: 0.25s;
}
.container_change > div input:hover {
  border-color: #3f81fe;
}
.container_change > div input:focus {
  box-shadow: 0 0 0 1px #3f81fe;
}
button {
  padding: 10px 12px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #3f81fe;
  border-radius: 5px;
  span {
    color: #fff;
    font-weight: 600;
  }
}
.warning {
  font-size: 14px;
  color: red;
}
