.wrapper {
  width: 100%;
  padding: 12px;
  .image_user {
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  .image_user .image_banner {
    width: 100%;
    height: 100%;
  }
  .image_user .image_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .image_profile {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    cursor: pointer;
  }
  .image_profile img {
    width: 100%;
    height: 100%;
  }
  .infor_user {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .infor_user div {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .infor_user div p {
    width: 50% !important;
    font-weight: 600;
  }
  .change_password {
    font-size: 14px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(75, 75, 229);
    cursor: pointer;
  }
}
